// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.excerpts_box {
  border-bottom: solid 2px #dadada;
}

.excerpts {
  font-size: 13px;
  color: #616161;
}

.category_btn {
  color: #616161;
  display: inline-block;
  padding: 1px 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: #616161 solid 1px;
  border-radius: 5px;

  &:hover {
    opacity: 0.5;
    text-decoration: none;
    transition: 0.5s;
  }

  &:visited {
    color: #616161;
  }
}

.youtube {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.youtube iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: $on-medium) {
  .post-header .post-title {
    font-size: 24px;
  }
  .post-content h3 {
    font-size: 20px;
  }

  .post-content h4 {
    font-size: 18px;
  }
}